<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @information.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @information.image %>
</p>

<p>
  <strong>Explanation:</strong>
  <%= @information.explanation %>
</p>

<%= link_to 'Edit', edit_information_path(@information) %> |
<%= link_to 'Back', information_index_path %>
